html, body {
    font-family: "Barlow", sans-serif;
    background-color: #D6C6BF;
    margin: 0;
    padding: 0;
    
}

/* Kad paspaudus nuoroda tame paciame puslapyje butu graziai "nuscrolinta" */

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: smooth;
	}
}

/* 1 pradzios header */
#header {
    height: 700px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../image/taurage_vejo_malunai.jpg);
    background-size:cover;
    background-position: center;
    clear: both;
    border-bottom-right-radius: 20%;
  }

/* Juosta su logo ir navigacija, visus plocius dalinu i procentus, nes taip lengviau lygiuoti, auksti i pikselius */

    #pradzios_juosta {
        height: 100px;
        width: 100%;
        margin: 0;
    }

      .logo {
          width: 5%;
          height: 100px;
          float: left;
          margin: 0 0 0 15%;
      }

      .logotipas {
          width: 80%;
          height: 80px;
          margin-top: 20px;
          float: right;
          background-image: url(../image/herbas_Taurage.png);
          background-size:contain;
          background-repeat: no-repeat;
          background-position: right;
          clear: none;

      }

      .logotipas:hover {
           filter: drop-shadow(10px 10px 10px #2E2B29);
      }

      .navigation {
          width: 80%;
          height: 100px;
          float: right;
          
        }
        .nuorodos {
          float: left;
          width: 80%;
          height: 10px;
          margin: 45px 0;
          text-align: center;

        }

        .nuorodos a {
          padding: 0 1em;
          color:#D6C6BF;
          font-size: large;
          font-weight: 300;
          text-decoration: none;

        }

        .nuorodos a:hover {
          font-weight: 400;
          color:#ffffff;

        }

 /* Iskrentancio saraso div */

  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Drop turinys */
  .navigacijos_a_drop_turinys {
    display: none;
    position: absolute;
    background-color: #68615D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #2E2B29;
    z-index: 1;
  }

  /* iskrentancio saraso nuorodos */
  .navigacijos_a_drop_turinys a {
    color: #D6C6BF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .navigacijos_a_drop_turinys a:hover {
    background-color: #D6C6BF;
  }

  .dropdown:hover .navigacijos_a_drop_turinys {
    display: block;
  }

         /* soc tinklu ikoneles */

        .social {
          float: right;
          width: 20%;
          height: 10px;
          margin: 45px 0;
          text-align: left;

        }

        .social-icon {
          color:#D6C6BF;
          width: 1.3em;
          height: 1.3em;
          padding-left: 1.5em;

        }

        .social-icon:hover {
          color:#ffffff;
        }


  /* pagr. pavadinimui */

    .pavadinimas {
      width: 70%;
      height: 400px;
      margin: 100px 15%;
      color:#D6C6BF;
      float: center;
      
    }
    .pavadinimas h1 {
      text-transform: uppercase;
      font-weight: 400;
      width: 20%;
    }
    .pavadinimas h3 {
      border-bottom: 3px solid #D6C6BF;
      font-weight: 400;
      width: 20%;
    }
    .pavadinimas h2 {
      font-weight: 400;
      width: 20%;
    }
    .pavadinimas p {
      margin-bottom: 50px;
    }
        .mygtukas {
            background-color: #68605C;
            color: #D6C6BF;
            border: 1px solid #D6C6BF;
            font-size: large;
            font-weight: 300;
            text-decoration: none;
            padding: 0.5em 1em;
            border-radius: 5%;
          }
          
            .mygtukas:hover {
              background-color: #D6C6BF;
              color: #68605C;
              border: 1px solid #68605C;
            }

  /* pagr. projektai*/

  .pagrindinio_turinys {
    margin: 5%;
    width: 90%;
    height: 1620px;
    color:#2E2B29;
    text-align: center;
  }

  .projektu_pavadinimas {
    height: 50px;
    margin: 20px;
    background-color: #2E2B29;
    width: 100%;
    border-bottom-right-radius: 40%;
  }

  .projektu_pavadinimas h1 {
    font-weight: 400;
    padding-bottom: 1em;
    color: #F7E2DC;
    text-align: center;
  }

  .aplinkosaugos_projektai, .saugomos_teritorijos, .statybu_leidimai, .tvarkau_taurage_pranesimai, .tvarkau_taurage_pranesk {
    height: 300px;
    margin: 20px;
    background-color: #F7E2DC;
    width: 100%;
    border-radius: 1%;
  }

  .aplinkosaugos_projektai_container, .saugomos_teritorijos_container, .statybu_leidimai_container, .tvarkau_taurage_pranesimai_container, .tvarkau_taurage_pranesk_container {
    height: 250px;
    width: 250px;
    margin: 25px;
    float: left;
  }

  .aplinkosaugos_projektai_container a {
    height: 250px;
    width: 250px;
    display:block;
    margin: 0;
    background-image: url(../image/aplinkosaugos_projektai.png);
    background-size:cover;
    background-position: center;
    clear:both;
    border-radius: 3%;
  }

  .aplinkosaugos_projektai_container a:hover {
    filter: drop-shadow(10px 10px 10px #2E2B29);
  }

  .saugomos_teritorijos_container a{
    height: 250px;
    width: 250px;
    display:block;
    margin: 0;
    background-image: url(../image/saugomos_teritorijos_pagr.png);
    background-size:cover;
    background-position: center;
    clear:both;
    border-radius: 3%;
  }

  .saugomos_teritorijos_container a:hover {
    filter: drop-shadow(10px 10px 10px #2E2B29);
  }

  .statybu_leidimai_container a{
    height: 250px;
    width: 250px;
    display:block;
    margin: 0;
    background-image: url(../image/statybu_statistika_pagr.png);
    background-size:cover;
    background-position: center;
    clear:both;
    border-radius: 3%;
  }

  .statybu_leidimai_container a:hover {
    filter: drop-shadow(10px 10px 10px #2E2B29);
  }

  .tvarkau_taurage_pranesimai_container a{
    height: 250px;
    width: 250px;
    display:block;
    margin: 0;
    background-image: url(../image/pranesimu_statistika_pagr.png);
    background-size:cover;
    background-position: center;
    clear:both;
    border-radius: 3%;
  }

  .tvarkau_taurage_pranesimai_container a:hover {
    filter: drop-shadow(10px 10px 10px #2E2B29);
  }

  .tvarkau_taurage_pranesk_container a{
    height: 250px;
    width: 250px;
    display:block;
    margin: 0;
    background-image: url(../image/pranesk_pagr.png);
    background-size:cover;
    background-position: center;
    clear:both;
    border-radius: 3%;
  }

  .tvarkau_taurage_pranesk_container a:hover {
    filter: drop-shadow(10px 10px 10px #2E2B29);
  }

  .pagr_text {
    height: 200px;
    width: 600px;
    margin: 50px;
    float: left;
    text-align: left;
  }

  .pagr_text h3 {
    font-weight: 500;
  }

  .pagr_text h2 {
    border-bottom: 2px solid #2E2B29;
    font-weight: 400;
    width: 50%;
    
  }

  .pagr_text h4 {
    font-weight: 400;
  }
      

/* pavadinimai puslapiams */

.pavadinimas_puslapiams {
  width: 70%;
  height: 200px;
  margin: 0 15%;
  color:#D6C6BF;
  float: center;
  
}
.pavadinimas_puslapiams h1 {
  text-transform: uppercase;
  font-weight: 300;
  width: 70%;
}
.pavadinimas_puslapiams h3 {
  border-bottom: 3px solid #D6C6BF;
  font-weight: 200;
  width: 70%;
}
.pavadinimas_puslapiams h2 {
  font-weight: 300;
  width: 70%;
}
.pavadinimas_puslapiams p {
  margin-bottom: 10px;
}

/* iframe */

.iframe-map iframe {
  width: 100%;
  height: 700px;
  border: 2px solid #68615D;
  border-radius: 1%;
}

    /* 2 statistikai */

    #header_statistika {
      height: 350px;
      width: 100%;
      margin: 0;
      background-image: url(../image/statybos.jpg);
      background-size:cover;
      background-position: center;
      clear: both;
      text-align: left;
      border-bottom-right-radius: 20%;
    }    

    #statybu_zemelapis {
      padding: 2em;
      clear: both;
    }

    /* 3 aplinkosaugos atlasas */

    #header_atlasas {
      height: 350px;
      width: 100%;
      margin: 0;
      background-image: url(../image/atlasas.jpg);
      background-size:cover;
      background-position: center;
      clear: both;
      text-align: left;
      border-bottom-right-radius: 20%;
    }    

    #atlasas_zemelapis {
      padding: 2em;
      clear: both;
    }

 /* 4 aplinkosaugos zemelapis */

 #header_zemelapis {
  height: 350px;
  width: 100%;
  margin: 0;
  background-image: url(../image/zemelapis.jpg);
  background-size:cover;
  background-position: center;
  clear: both;
  text-align: left;
  border-bottom-right-radius: 20%;
}    

#zemelapis_zemelapis {
  padding: 2em;
  clear: both;
}


 /* 5 pranesk zemelapis */

 #header_pranesk {
  height: 350px;
  width: 100%;
  margin: 0;
  background-image: url(../image/pranesk.jpg);
  background-size:cover;
  background-position: center;
  clear: both;
  text-align: left;
  border-bottom-right-radius: 20%;
}    

#pranesk_zemelapis {
  padding: 2em;
  clear: both;
}

/* 5 pranesimu statistikos zemelapis */

#header_pranesimu_statistikos {
  height: 350px;
  width: 100%;
  margin: 0;
  background-image: url(../image/pranesimu_statistika.jpg);
  background-size:cover;
  background-position: center;
  clear: both;
  text-align: left;
  border-bottom-right-radius: 20%;
}    

#pranesimu_statistikos_zemelapis {
  padding: 2em;
  clear: both;
}

/* 6 Apie mus */

#header_apie_mus {
  height: 350px;
  width: 100%;
  margin: 0;
  background-image: url(../image/apie_mus.jpg);
  background-size:cover;
  background-position: center;
  clear: both;
  text-align: left;
  border-bottom-right-radius: 20%;
}    

/* Apie mus turinys */

.apie_IT_ir_GIS {
  margin: 5%;
  width: 90%;
  height: 310px;
  text-align: left;
}

.turinys_apie_IT_ir_GIS {
  width: 53%;
  height: 200px;
  float: left;
  text-align: justify;
  margin: 20px 0 20px 10px;
  border-radius: 1%;
  background-color: #F7E2DC;
  border-radius: 1%;
}

.turinys_apie_IT_ir_GIS h3 {
 font-weight: 500;
 font-size: larger;
 color:#2E2B29;
 margin:0;
 padding: 1em;
}

.apie_IT_ir_GIS_nuotrauka {
  height: 200px;
  width: 40%;
  margin: 20px 20px 20px 40px;
  float: left;
  display:block;
  background-image: url(../image/apie_it_it_gis.jpg);
  background-size:cover;
  background-position: center;
  border-radius: 3%;
}

.uzdaviniai {
  margin: 5%;
  width: 90%;
  height: 430px;
  text-align: left;
}

.turinys_uzdaviniai {
 width: 90%;
 float: left;
 margin: 20px 0 20px 40px;
 height: 130px;
 background-color: #F7E2DC;
 border-radius: 1%;

}

.turinys_uzdaviniai h3 {
  font-weight: 500;
  font-size: larger;
  color:#2E2B29;
  margin:0;
  padding: 1em;
}

.uzdaviniai_nuotrauka {
  height: 150px;
  width: 90%;
  margin: 20px 0 20px 40px;
  float: left;
  background-image: url(../image/uzduotys.png);
  background-color: #F7E2DC;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1%;
}

.sukure {
  margin: 5%;
  width: 90%;
  height: 400px;
  text-align: left;
}

.turinys_sukure {
 width:40%;
 margin: 20px 0 0 40px;
 height: 310px;
 float:left;
 background-color: #68615D;
 border-radius: 1%;
 text-align: center;

}

.turinys_sukure h3{
  font-weight: 500;
  font-size: larger;
  font-style: italic;
  color:#F7E2DC;
  margin:0;
  padding: 6em 1em;
}

.autoriaus_nuotrauka {
  width: 50%;
  margin: 20px 0 0 40px;
  height: 310px;
  float:left;
  background-color: #68615D;
  border-radius: 1%;
}

.vu_logotipas {
  width: 80%;
  margin: 15px 10%;
  height: 280px;
  float:left;
  background-image: url(../image/VU_logotipas-bendrinis_baltas_LT.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.vu_logotipas:hover {
  filter: drop-shadow(10px 10px 10px #2E2B29);
}

/* 7 Kontaktai */

#header_kontaktai {
  height: 350px;
  width: 100%;
  margin: 0;
  background-image: url(../image/kontaktai.jpg);
  background-size:cover;
  background-position: center;
  clear: both;
  text-align: left;
  border-bottom-right-radius: 20%;
}    

#kontaktai {
  width: 94%;
  height: 640px;
  padding: 30px 3%;
}

#kontaktu_forma {
  float: left;
  width: 40%;
  height: 640px;

}

.iframe-kontaktai iframe {
  width: 100%;
  height: 640px;
  border: 2px solid #68615D;
  border-radius: 2%;
}

.kontaktu_info {
  float: right;
  width: 57%;
  height: 640px;
}

.kontaktu_pavadinimas {
  height: 80px;
  width: 100%;
  float: right;
  text-align: left;
  background-color: #2E2B29;
  border-bottom-right-radius: 40%;
}

.kontaktu_pavadinimas h1{
  padding-left: 5%;
  color:#D6C6BF;
  font-weight: 500;
}

.kontaktu_turinys {
  height: 540px;
  margin-top: 20px;
  width: 100%;
  float:right;
  background-color: #F7E2DC;
  border-radius: 2%;
} 
.kontaktu_turinys p{
  padding-left: 5%;
  padding-top: 5px;
  color:#2E2B29;
  font-weight: 500;
  font-size: large;
}

.iframe-adresas iframe{
  width: 90%;
  height: 350px;
  margin: 10px 5%;
}


/* footeris */



#footer {
  width: 100%;
  height: 100px;
  background-color: #68615D;
  border-top-right-radius: 20%;
}

  #footer_logo {
    width: 15%;
    height: 100px;
    float: left;
    margin: 0 0 0 5%;
  }

    .footer_logotipas{
      width: 50%;
      height: 80px;
      margin: 10px 40%;
      float: right;
      background-image: url(../image/herbas_Taurage.png);
      background-size:contain;
      background-repeat: no-repeat;
      background-position: right;
      filter:grayscale(100%)

    }
    .footer_logotipas:hover {
      filter: drop-shadow(10px 10px 10px #2E2B29);
 }

  #footer_tekstas {
    width: 80%;
    height: 100px;
    float: right;
  }

    .footer_kontaktai  {
      float:left;
      font-size: small;
      font-weight: 300;
      width: 30%;
      height: 80px;
      margin: 10px 0;
      padding: 0 10%;
      border-right: 2px solid #D6C6BF;
      border-left: 2px solid #D6C6BF;
      text-align: center;
      color:#D6C6BF;
    }
      .footer_kontaktai p{
        margin:0;
        padding: 0.5em 0;
      }

    .footer_teises {
      float:left;
      font-size: small;
      font-weight: 300;
      width:48%;
      height: 80px;
      text-align: center;
      margin: 10px 0;
      color:#D6C6BF;
    }

      .footer_teises p {
        margin:0;
        padding: 2em 0 1em 0;
      }

      .footer_teises a {
        color:#D6C6BF;
        text-decoration: none;
        margin:0;
        padding: 1em 0;
      }

      .footer_teises a:hover{
        color:#ffffff;
        text-decoration: none;
      }
