html, body {
    font-family: "Barlow", sans-serif;
    background-color: #D6C6BF;
    margin: 0;
    padding: 0;
    
}
/* 1 pradzios header */
#header {
    height: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.456);
    background-image: url(../image/taurage_vejo_malunai.jpg);
    background-size:cover;
    background-position: center;
    clear: both;
    border-bottom-right-radius: 20%;
  }

/* Juosta su logo ir navigacija, visus plocius dalinu i procentus, nes taip lengviau lygiuoti, auksti i pikselius */

    .pradzios_juosta {
        height: 100px;
        width: 100%;
        margin: 0;
    }

      .logo {
          width: 5%;
          height: 100px;
          float: left;
          margin: 0 0 0 15%;
      }

      .logotipas {
          width: 80%;
          height: 80px;
          margin-top: 20px;
          float: right;
          background-image: url(../image/herbas_Taurage.png);
          background-size:contain;
          background-repeat: no-repeat;
          background-position: right;
          clear: none;

      }

      .logotipas:hover {
           filter: drop-shadow(10px 10px 10px #2E2B29);
      }

      .navigation {
          width: 80%;
          height: 100px;
          float: right;
          
        }
        .nuorodos {
          float: left;
          width: 80%;
          height: 10px;
          margin: 45px 0;
          text-align: center;

        }

        .nuorodos a {
          padding: 0 1em;
          color:#D6C6BF;
          font-size: large;
          font-weight: 300;
          text-decoration: none;

        }

        .nuorodos a:hover {
          font-weight: 400;
          color:#ffffff;

        }

        .social {
          float: right;
          width: 20%;
          height: 10px;
          margin: 45px 0;
          text-align: left;

        }

        .social-icon {
          color:#D6C6BF;
          width: 1.3em;
          height: 1.3em;
          padding-left: 1.5em;

        }

        .social-icon:hover {
          color:#ffffff;
        }


  /* 1 pavadinimui */

    .pavadinimas {
      width: 70%;
      height: 400px;
      margin: 100px 15%;
      color:#D6C6BF;
      float: center;
      
    }
    .pavadinimas h1 {
      text-transform: uppercase;
      font-weight: 400;
      width: 20%;
    }
    .pavadinimas h3 {
      border-bottom: 3px solid #D6C6BF;
      font-weight: 400;
      width: 20%;
    }
    .pavadinimas h2 {
      font-weight: 400;
      width: 20%;
    }
    .pavadinimas p {
      margin-bottom: 50px;
    }
        .mygtukas {
            background-color: #68605C;
            color: #D6C6BF;
            border: 1px solid #D6C6BF;
            font-size: large;
            font-weight: 300;
            text-decoration: none;
            padding: 0.5em 1em;
          }
          
            .mygtukas:hover {
              background-color: #D6C6BF;
              color: #68605C;
              border: 1px solid #68605C;
            }
